*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Palanquin Dark', sans-serif;
}
li{
  list-style-type: none;
}
.contenitore{
  display: flex;
  flex-wrap: wrap;
}
/* parte della nav bar laterale a sx */
.nav{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 300px;
  background-color:black;
  padding: 10px;
  color: grey;
}
.nav h3{
  color: white;
}
.img-logo > img{
  width: 200px;
}
.nav ul{
  margin: 15px 0;
}
.nav ul li img{
  margin-right: 10px;
  width: 30px;
  vertical-align: middle;
}
.icone-nav li{
  width: 55%;
}
.playlist li{
  width: 40%;
}
/* hover */
.nav ul li:hover{
  color: white;
  transform: scale(105%);
  transition-duration:0.1;
  cursor:pointer;
}
.img-logo img:hover{
  transform: scale(105%);
  transition-duration:0.1;
  cursor:pointer;
}

/* parte centrale con contenuti */
.main{
  width: calc(100% - 300px);
  background-color:#1e4653;

}
.div-upgrade{
  background-color:rgb(19, 19, 19);
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.div-upgrade a{
  color: white;
  border: 1px solid white;
  border-radius:30px;
  padding: 10px 30px;
  text-decoration: none;
  margin-right: 15px;
}
/* hover */
.main .div-upgrade a:hover{
  transform: scale(105%);
  transition-duration:0.1s;
}

.link-centrali{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100px;
  text-align: center;
}
.link-centrali li{
  display: inline-block;
  padding: 0 15px;
  color: grey;
}
/* hover */
.link-centrali ul li:hover{
  color: white;
  cursor:pointer;
  transform: scale(105%);
  transition-duration:0.1s;
}

.recently-played{
  color: white;
  margin-left: 20px;
}

/* album cover */
.album-cover{
  margin: 0 20px;
  display: flex;
}

.img{
  height: 100px;
  margin: 0 10px;
}
.img img {
  max-width: 100%;
  height: auto;
}






/* parte del player */
.player{
  background-color: yellow;
  height: 100px;
  width: 100%;
}
