*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Palanquin Dark', sans-serif;
}
li{
  list-style-type: none;
}
.contenitore{
  display: flex;
  flex-wrap: wrap;
}


/* parte della nav bar laterale a sx */
.nav{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 300px;
  background-color:black;
  padding: 10px;
  color: grey;
  height: calc(100vh - 70px);
  overflow:auto;
}
.nav h3{
  color: white;
}
.img-logo > img{
  width: 200px;
}
.nav ul{
  margin: 15px 0;
}
.nav ul li img{
  margin-right: 10px;
  width: 30px;
  vertical-align: middle;
}
.icone-nav li{
  width: 55%;
}
.playlist li{
  width: 40%;
  margin: 10px 0;
}
/* hover */
.nav ul li:hover{
  color: white;
  cursor:pointer;
}
.img-logo img:hover{
  transform: scale(105%);
  transition-duration:0.1;
  cursor:pointer;
}


/* parte centrale con contenuti */
.main{
  width: calc(100% - 300px);
  background-color:#172b36;
  height: calc(100vh - 70px);
  overflow: auto;
}
.div-upgrade{
  background-color:rgb(19, 19, 19);
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.div-upgrade a{
  color: white;
  border: 1px solid white;
  border-radius:30px;
  padding: 10px 30px;
  text-decoration: none;
  margin-right: 15px;
}
/* hover */
.main .div-upgrade a:hover{
  transform: scale(105%);
  transition-duration:0.1s;
}
.link-centrali{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100px;
  text-align: center;
}
.link-centrali li{
  display: inline-block;
  padding: 0 15px;
  color: grey;
}
/* hover */
.link-centrali ul li:hover{
  color: white;
  cursor:pointer;
  transform: scale(105%);
  transition-duration:0.1s;
}
.recently-played{
  margin: 10px 10px;
  color: white;
  margin-left: 20px;
}


/* album cover */
.album-cover{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.img{
  margin: 0 10px;
  text-align: center;
  color: white;
  width: 200px;
  min-width: 100px;
  height: auto;
}
.img img {
  max-width: 100%;
  height:auto;
}
.img img:nth-child(2){
  width: auto;
  z-index: 1;
  position: absolute;
  top:0;
  left: 0;
  display: none;
  filter: opacity(55%);
}
.album-cover .img:hover{
  filter:brightness(60%);
  transition-duration: 0.1s;
}
.album-cover .img:hover img{
  display: inline;
  cursor: pointer;
}

/* daily mix */
.creato-per-john-doe{
  margin: 10px;
  color: white;
  margin-left: 20px;
}
.creato-per-john-doe span{
  color:grey;
}
.daily-mix{
  display: flex;
  flex-wrap: wrap;
}
.img-daily{
  margin: 0 20px;
  text-align: center;
  color: white;
  width: 200px;
  min-width: 100px;
  height: auto;
  position:relative;
}

.img-daily img{
  max-width: 100%;
  height: auto;
}
.daily-mix .img-daily img:nth-child(2){
  width: auto;
  z-index: 1;
  position: absolute;
  top:0;
  left: 0;
  display: none;
  filter: opacity(55%);
}
.daily-mix .img-daily:hover img{
  display: inline;
  cursor: pointer;
}


/* artisti più popolari */
.artisti-più-popolari{
  margin: 10px;
  color: white;
  margin-left: 20px;
}
.artisti-più-popolari span{
  color: grey;
}
.artisti{
  display: flex;
  flex-wrap: wrap;
}
.artisti .img-artisti img:nth-child(2){
  width: auto;
  z-index: 1;
  position: absolute;
  top:0;
  left: 0;
  display: none;
  filter: opacity(55%);
}
.artisti .img-artisti:hover img{
  display: inline;
  cursor: pointer;
}
.img-artisti{
  margin: 0 20px;
  text-align: center;
  color: white;
  width: 200px;
  min-width: 100px;
  height: auto;
  position:relative;


}
.img-artisti img{
  max-width: 100%;
  height: auto;
}


/* parte del player */
.player{
  display: flex;
  justify-content: space-between;
  background-color: #363636;
  height: 70px;
  width: 100%;
  z-index: 900;
  font-size: 15px;
  color: white;
}
.player i{
  text-align: center;
  width:30px;
  color: white;
}
.player i:hover{
  transform: scale(120%);
}
.player input{
  vertical-align: middle;
}
/* prima parte (sinistra) */
.items-folder{
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.player .items-folder img{
  width: 50px;
  vertical-align: middle;
}
.player .items-folder span{
  padding-left: 10px;
}
.player .items-folder span:last-child{
  color: grey;
}
/* parte centrale */
.player-center{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.items-play{
  display: flex;
  justify-content: space-between;
}
.linea{
  display: flex;
  justify-content: space-between;
}
/* parte del volume (destra) */
.volume{
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}
